*{
    padding: 0;
    margin: 0;
    width: 100%;
}

.container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header    header  header"
                         "main      main    main"
                         "main      main    main"
                         "footer    footer  footer";
                         font-family: 'Roboto', sans-serif;
                         text-transform: uppercase;
}

.header{
    width: 100%;
    grid-column: header;
}

.main{
    width: 100%;
    grid-column: main;
    display: flex;
    flex-direction: column;
}

.footer{
    width: 100%;
    grid-column: footer;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url('/images/destiny.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
}

.header{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    justify-content:space-between;
    position:fixed; 
    top:0;
}

.logo{
    width: 15%;
    margin-left: 3%;
    color: white;
    align-self: center;
}
.navbar{
    width: 30%;
    margin-right: 3%;
    display: flex;
    height: 50px;  
}

.item{
    list-style: none;
    height: 98%;   
}

.item a{
    display: flex;
    height: 100%;
    text-decoration: none;
    font-size: 20px;
    color: white;
    justify-content: center;
    align-items: center;
}

.item a:hover{
    border-bottom: 2px solid lightgray;
}

.banner{
    display: flex;
    width: 100%;
    height: 600px;
    background-image: url('/images/destiny.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
}

.banner h1{
    margin-left: 3%;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    color: white;
}

.banner p{
    text-align:justify;
    width: 70%;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 900;
    color: white;
}

.title{
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    
}

.card-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
   
}

.b{
    margin-bottom: 100px;
}

.card{
    width: 350px;
    height: 250px;
    margin: 15px;
    animation: right 1s ease-in-out;
            animation-delay: 10ms;
           
    display:flex;
    justify-content: center;
    align-items: center;
  

}

.card-image{
    width: 100%;
    height: 100%;

}

.card .title{
    width: 100%;
    color: white;
    display: none;
    position: absolute;
    transition: 0.5s ease-in;
 
    
}

.card:hover{
    cursor: pointer;


}


::placeholder {
    padding-left: 20px;
   
  }


.contact{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    border-radius: 20px;
    border:0;
    outline: none;
    
}

::placeholder{
    padding-left: 20px;
}


.formBtn{
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #0d6efd;
    color: white;
}

.formBtn:hover{
    border: none;
    background-color: #0060f0;
}

.left{
    animation: left 1s ease-in-out;
            animation-delay: 10ms;
}



@keyframes right {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes left {
    0% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0px);
    }
}

.card:hover{
    cursor: pointer;
    background-color: lightgray;
}

/*modal*/
@media (max-width: 577px)  {
    .header{
        width: 100%;

    }

    .logo{
        display: none;
    }

    .navbar{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .main{
        width: 100%;
        grid-column: main;
        display: flex;
        flex-direction: column;
    }

    .main .banner{
        width: 100%;
        height: 300px;
    }
    .banner h1{
        font-size: 20px;
        font-weight: bold;
        font-family: 'Lato', sans-serif;
        color: white;
    }

    .banner p{
        display: none;
    }

    .footer{
        display: flex;
        width: 577px;
        justify-content: center;
    }

}

@media (width: 768px)  {
    .logo{
        display: none;
    }
    .navbar{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .main .banner{
        width: 100%;
        height: 500px;
    }

}
